.infoBlock {
    padding: 20px 10px;
    width: 100%;

    .main {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        font-size: 20px;
        border-radius: 5px;
        background: white;
        padding: 10px;
        padding-right: 0px;
        
        .name {
            font-size: 28px;
            font-weight: bold;
        }

        svg {
            margin-right: 20px;
            cursor: pointer;
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        .infoTable {
            td {
                background: white;
            }
        }

        div {
            margin: 5px;
            padding: 5px;
            background: white;
            border-radius: 5px;
            height: 60px;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
        }
    }
}