@import 'styles/constants.module';

.button {
    width: 100%;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
    border: none;

    &:hover:not(:disabled) {
        background:  $color_red_light;
    }
}