.paginator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    button {
        margin: 5px 20px;
        width: 150px;
        height: 45px;
    }
}