.modalWrapper {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 10;
    top: 0;
    left: 0;

    .modal {
        border-radius: 5px;
        background: white;
        max-width: 500px;
        width: 90%;
        height: auto;
        min-height: 200px;
        display: flex;
        z-index: 11;
        margin: auto;
        padding: 20px;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
    }
}

.exitIcon {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}