@import 'styles/constants.module';

.detail {
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    background: $color_red;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    justify-content: center;
}

.image {
    width: 100%;
    border-radius: 5px;
    background: white;
    margin-top: 10px;
    min-height: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info {
    margin-top: 20px;
    display: flex;
}
