@import 'styles/constants.module';

.errorPage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorPageContent {
  background-color: white;
  border-radius: 10px;
  border: 20px solid $color_red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 18px;

  span {
    padding: 18px;
    font-size: 30px;
  }

  img {
    border-radius: 10px;
  }

  .homepageBtn {
    width: 250px;
  }
}