@import 'styles/constants.module';

.panel {
  margin-top: 10px;
  padding: 10px;
  min-height: 110px;
  height: auto;
  width: 100%;
  background: $color_red;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

  .buttons {
    display: flex;
    width: 100%;
    
    & > button:not(:last-child) {
      margin-right: 5px;
    }
  }

  .filters {
    display: flex;
    align-items: center;

  .viewSwitch {
    display: flex;
    align-items: center;
    margin-left: auto;
    
    .viewIconContainer {
      padding: 10px;
      cursor: pointer;
      border-radius: 3px;

      &.active {
        background: rgba(255,255,255,0.7);
      }

      &:hover {
        background: white;
      }
      }
    }

  }
}