@import 'styles/constants.module';

.table {
    text-align: left;
    width: 100%;
    td {
        padding: 5px 10px;
        background: $color_red;
        border-radius: 3px;
        margin: 5px;
    }
}