.pokemonItem {
    position: relative;
    background: white;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    border-radius: 5px;
}

.pokemonItem-GRID {
    @extend .pokemonItem;
    width: 210px;
    height: 300px;
    padding: 20px;

    .infoBlock {
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nameText {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
    
        .typesText {
            font-size: 17px;
        }    
    }

    .imageWrapper {
        background: white;
        width: 100%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .moreIcon {
        width: 20px;
        height: 20px;
        right: 15px;
        top: 15px;
        position: absolute;
        cursor: pointer;
    }
}

.pokemonItem-LIST {
    @extend .pokemonItem;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;

    .infoBlock {
        display: flex;
        width: 100%;
        align-items: center;
        margin-right: 10px;
    
        .nameText {
            font-weight: bold;
            font-size: 20px;
            cursor: pointer;
        }
    
        .typesText {
            font-size: 17px;
        }
    }

    .imageWrapper {
        background: white;
        width: 100px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }

    .moreIcon {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: 5px;
    }
}