@import 'styles/constants.module';

.favoriteWrapper {
    margin-left: auto;
    height: 25px;

    svg {
        cursor: pointer;
        width: 25px;
        height: 25px;

        path {
            fill: black;
        }
        
        &.isFavorite {
            path {
                fill: $color_red;
            }
        }
    }
}