.wrapper {
    position: relative;
    height: 45px;
    width: 60%;

    input {
        height: 100%;
        width: 100%;
        border-radius: 3px;
        border: none;
        font-size: 17px;
        padding: 0 15px;
    }

    .clearIcon {
        position: absolute;
        width: 18px;
        height: 18px;
        top: 15px;
        right: 15px;
        display: block;
        cursor: pointer;
        opacity: 0.7;
    }
}