@import 'styles/constants.module';

.pokemonList {
    margin: 10px 0;
    padding: 20px;
    border-radius: 5px;
    background: $color_red;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
    
    .emptyList {
        display: flex;
        width: 100%;
        min-height: 100px;
        align-items: center;
        justify-content: center;
    }
}
