.wrapper {
    height: 45px;
    width: 30%;
    margin: 5px;

    select {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 3px;
        font-size: 17px;
        padding: 0 15px;
    }
}